.myPoemPageContainer {
  :global(.card) {
    width: 100%;
    :global(.card-inner) {
      height: 300px;
      margin: 0 30px;
      position: relative;
      :global(.title) {
        z-index: 2;
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        padding-top: 20px;
        text-align: center;
        margin-bottom: 10px;
        font-family: sans-serif;
      }
      :global(.desc) {
        color: #fff;
        font-size: 14px;
        white-space: pre;
        font-weight: 400;
        margin-top: 50px;
        font-family: sans-serif;
        text-align: center;
      }
      :global(.card-background-image) {
        top: 0;
        left: 0;
        width: 100%;
        z-index: -2;
        height: 100%;
        position: absolute;
        border-radius: 30px;
        box-shadow: 0 1px #ffffff inset, 0 1px 3px rgba(34, 25, 25, 0.4);
      }
      :global(.mask) {
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        height: 100%;
        position: absolute;
        border-radius: 30px;
        background: rgba(0, 0, 0, 0.6);
      }
    }
  }
}
