


.post1{
  margin-top: 30px;
  .content{
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 30px;
    font-family: 'Hiragino Sans GB", "sans-serif';
    font-weight: 500;
    color: #000;
    text-shadow: 0 1px 1px 4px #fefefe;
  }
}
